<nav class="barnav">
    <ul id="nav">
        <li><a href="/">Accueil</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/usersAdd">Users DB</a></li>
        <li><a href="/countries">Countries</a></li>
        <li><a href="/countriesDB">Countries DB</a></li>
        <li><a href="/exos">Exercices</a></li>
        <li><a href="/exosJSON">Exercices</a></li>
        <li><a href="/toto">(error)</a></li>
    </ul>
</nav>