<h1> Express App : {{title}}</h1>
<ul>
    <li>name :..........................
    <li>firstName :.....................
    <li>login :.........................
    <li>mdp :...........................
    <li>function :......................
    <li>office :........................
    <li>date_naiss :....................
    <li>adresse1 :......................
    <li>adresse2 :......................
    <li>cp :............................
    <li>mobile_phone :..................
    <li>home_phone :....................
</ul>